.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text {
  color: white;
  font-family: sans-serif;
}

.ring {
  position: absolute;
  width: 190px;
  height: 190px;
  border: 1px solid transparent;
  border-radius: 50%;
  --color:#ff8df9;
  border-bottom: 8px solod var(--color);
  animation: totate1 2s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }

  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

.ring:nth-child(2) {
  --color: #ff416a;
  animation-name: rotate2;
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }

  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg) ;
  }
}

.ring:nth-child(3) {
  --color: #00ffff;
  animation-name: rotate3;
}

@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg);
  }
}